<!--Index file, the Home Page, with template inheritance from base.html, see index.html for original structure:-->
{% extends "base.html" %} 



<!-- defining customized content for blocks named "title" and "content":-->
{% block head %}
<title>Home Page</title> 
{% endblock %}

{% block content %}

<h1>Simone Prato's website</h1>
<p> Here you find a selection of my articles: </p>
{% for article in articles %}
<!-- including a link to all the articles in contentful, called by slug-->
<a href="/blog/{{article.slug}}">{{article.title}}</a><hr/>
{% endfor %}

{% endblock %}